{% extends "base.html" %}
{% block content %}
<div class="container">
<form class="form-group" method="POST" style="margin-top: 120px;">

    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.email.label (class="form-control-label") }}
     {{ form.email(class="form-control form-control-lg ") }}
    </div>
    {{ form.password.label(class="form-control-label") }}
    {{ form.password(class="form-control form-control-lg ") }}<br>
    {{ form.submit(class="btn btn-primary") }}
</form>
  </div>

</div>
{% endblock %}
